/* Cores do jogo*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* ::after,
* ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  width: 60rem;
  height: 60rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  background-color: #282828;
  border-radius: 100%;
}

main .genius__lentes {
  margin-left: auto;
  margin-right: auto;
  width: 25rem;
  height: 25rem;
}

main .genius__lentes--azul {
  margin: top 0.5em;
  border-bottom: solid 2.5rem #404040;
  border-right: solid 2.5rem #404040;
  border-left: solid 1.5rem #404040;
  border-top: solid 0.5rem #404040;
  background-color: #030031;
  border-top-left-radius: 100%;
}

main .genius__lentes--azul.genius__lentes--ligado {
  background-color: #0011ff;
}

main .genius__lentes--vermelho {
  margin: top 0.5em;
  border-bottom: solid 2.5rem #404040;
  border-right: solid 1.5rem #404040;
  border-left: solid 2.5rem #404040;
  border-top: solid 1.5rem #404040;
  background-color: #440104;
  border-top-right-radius: 100%;
}

main .genius__lentes--vermelho.genius__lentes--ligado {
  background-color: #ff0000;
}

main .genius__lentes--amarelo {
  border-bottom: solid 1.5rem #404040;
  border-right: solid 1.5rem #404040;
  border-left: solid 2.5rem #404040;
  border-top: solid 2.5rem #404040;
  background-color: #956203;
  border-bottom-right-radius: 100%;
}

main .genius__lentes--amarelo.genius__lentes--ligado {
  background-color: #e5ff00;
}

main .genius__lentes--verde {
  border-bottom: solid 1.5rem #404040;
  border-right: solid 2.5rem #404040;
  border-left: solid 1.5rem #404040;
  border-top: solid 2.5rem #404040;
  background-color: #002a00;
  border-bottom-left-radius: 100%;
}

main .genius__lentes--verde.genius__lentes--ligado {
  background-color: #00ff00;
}

main .genius__controles {
  padding: 2rem;
  border-radius: 100%;
  background-color: #b3b3b3;
  width: 25rem;
  height: 25rem;
  position: absolute;
  top: 12.5rem;
  left: 17.5rem;
  border: 1rem solid #404040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .genius__controles .agrupar__elementos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .genius__controles .agrupar__elementos p {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2rem;
  margin: 1rem;
  color: #404040;
}

main .genius__controles .genius__botao {
  cursor: pointer;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  background-color: #ffae00;
  -webkit-box-shadow: 0 0.5rem #8b8585;
          box-shadow: 0 0.5rem #8b8585;
}

main .genius__controles .genius__botao .genius__botao:active {
  -webkit-transform: translate(0, 0.3rem);
          transform: translate(0, 0.3rem);
  -webkit-box-shadow: none;
          box-shadow: none;
}

main .genius__controles .genius__contador {
  height: 3rem;
  width: 4rem;
  text-align: center;
  color: #ECE7EE;
  line-height: 3rem;
  font-size: 1.8rem;
  background-color: #1b0102;
  border-radius: 15%;
  border: #a52a2a solid .3rem;
}
/*# sourceMappingURL=style.css.map */