/* Cores do jogo*/

$vermelho-normal:#440104;
$verde-normal   :#002a00;
$azul-normal    :#030031;
$amarelo-normal :#956203;
$luz-vermelha   :#ff0000;
$luz-verde      :#00ff00;
$luz-azul       :#0011ff;
$luz-amarela    :#e5ff00;
$cinza          :#404040;
$centro         :#ECE7EE;
$cor-contador   :#1b0102;
$tamanho-jogo   :50rem;
$tamanho-lentes :($tamanho-jogo/2);

* {
    box-sizing: border-box;

    ::after,
    ::before {
        box-sizing: border-box;
    }
}

html {
    font-size: 62.5%;
}

main {

    width           : $tamanho-jogo+10;
    height          : $tamanho-jogo+10;
    position        : relative;
    display         : flex;
    flex-wrap       : wrap;
    margin-left     : auto;
    margin-right    : auto;
    background-color: #282828;
    border-radius   : 100%;

    .genius__lentes {
        margin-left : auto;
        margin-right: auto;

        width : $tamanho-lentes;
        height: $tamanho-lentes;
    }

    .genius__lentes--azul {
        margin                : top 0.5em;
        border-bottom         : solid 2.5rem $cinza;
        border-right          : solid 2.5rem $cinza;
        border-left           : solid 1.5rem $cinza;
        border-top            : solid 0.5rem $cinza;
        background-color      : $azul-normal;
        border-top-left-radius: 100%;

        &.genius__lentes--ligado {
            background-color: $luz-azul;
        }
    }

    .genius__lentes--vermelho {
        margin                 : top 0.5em;
        border-bottom          : solid 2.5rem $cinza;
        border-right           : solid 1.5rem $cinza;
        border-left            : solid 2.5rem $cinza;
        border-top             : solid 0.5rem $cinza;
        background-color       : $vermelho-normal;
        border-top-right-radius: 100%;

        &.genius__lentes--ligado {
            background-color: $luz-vermelha;
        }
    }

    .genius__lentes--amarelo {
        border-bottom             : solid 1.5rem $cinza;
        border-right              : solid 1.5rem $cinza;
        border-left               : solid 2.5rem $cinza;
        border-top                : solid 2.5rem $cinza;
        background-color          : $amarelo-normal;
        border-bottom-right-radius: 100%;

        &.genius__lentes--ligado {
            background-color: $luz-amarela;
        }
    }

    .genius__lentes--verde {
        border-bottom            : solid 1.5rem $cinza;
        border-right             : solid 2.5rem $cinza;
        border-left              : solid 1.5rem $cinza;
        border-top               : solid 2.5rem $cinza;
        background-color         : $verde-normal;
        border-bottom-left-radius: 100%;

        &.genius__lentes--ligado {
            background-color: $luz-verde;
        }
    }

    .genius__controles {
        padding         : 2rem;
        border-radius   : 100%;
        background-color: #b3b3b3;
        width           : $tamanho-lentes+5;
        height          : $tamanho-lentes;
        position        : absolute;
        top             : ($tamanho-jogo/4);
        left            : (($tamanho-jogo+20)/4)-2.5;
        border          : 1rem solid $cinza;
        display         : flex;
        justify-content : space-around;
        align-items     : center;
        flex-wrap       : wrap;

        .agrupar__elementos {
            display        : flex;
            box-sizing     : border-box;
            flex-direction : column;
            align-items    : center;
            justify-content: space-around;

            p {
                font-weight: bold;
                font-size  : 1.8rem;
                line-height: 2rem;
                margin     : .4rem;
                color      : $cinza;
            }
        }

        .genius__botao {
            cursor          : pointer;
            border-radius   : 100%;
            height          : 3rem;
            width           : 3rem;
            background-color: #ffae00;
            box-shadow      : 0 0.5rem #8b8585;

            .genius__botao:active {
                transform : translate(0, .3rem);
                box-shadow: none;
            }
        }

        .genius__contador {
            height          : 3rem;
            width           : 4rem;
            text-align      : center;
            color           : #500305;
            line-height     : 3rem;
            font-size       : 1.8rem;
            background-color: $cor-contador;
            border-radius   : 15%;
            border          : #a52a2a solid .3rem;
        }

        .genius__contador--on {
            color: $luz-vermelha;
        }
    }
}